version: '3.8'

services:
  frontend:
    build:
      context: ./Frontend
      args:
        - VITE_API_URL=
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./Backend
    ports:
      - "8080:8080"
    env_file:
      - ./Backend/.env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
